In [0]:
import pandas as pd
url = 'https://raw.githubusercontent.com/ACM-NITK/Machine-Learning-SMP-2019/master/Assignment%201/PL18-19.csv'
df = pd.read_csv(url)
df.columns = ['Date', 'Home Team', 'Away Team', 'Home Team Goals', 'Away Team Goals', 'Result', 'Half Time Home Team Goals', 'Half Time Away Team Goals',
       'Half Time Result', 'Referee', 'Home Team Shots', 'Away Team Shots', 'Home Team Shots On Target', 'Away Team Shots On Target', 'Home Team Fouls', 'Away Team Fouls', 'Home Team Corners', 'Away Team Corners',
       'Home Team Yellow Cards', 'Away Team Yellow Cards', 'Home Team Red Cards', 'Away Team Red Cards']

In [2]:
a=df["Home Team"].unique()
print(sorted(a))

['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves']

In [3]:
df["Total Shots"]=df["Home Team Shots"]+df["Away Team Shots"]
df["Total Shots"].max()

42

In [4]:
df["Total Shots On Target"]=df["Home Team Shots On Target"]+df["Away Team Shots On Target"]
ratio = df["Total Shots On Target"].mean()/df["Total Shots"].mean()
print(ratio)

0.3437760199833472

In [5]:
df["Total Cards"] = df["Home Team Yellow Cards"] + df["Away Team Yellow Cards"] + df["Home Team Red Cards"] + df["Away Team Red Cards"]
df.iloc[:,[9,24]].groupby('Referee').sum()

             Total Cards
Referee
A Madley               2
A Marriner            76
A Taylor             103
C Kavanagh            76
C Pawson              99
D Coote               35
G Scott               39
J Linington            4
J Moss                98
K Friend              92
L Mason               64
L Probert             50
M Atkinson            92
M Dean               137
M Oliver              90
P Tierney             83
R East                44
S Attwell             64
S Hooper              20

In [6]:
df["Total Home Cards"] = df["Home Team Yellow Cards"] + df["Home Team Red Cards"]
df["Total Away Cards"] = df["Away Team Yellow Cards"] + df["Away Team Red Cards"]
b = df.iloc[:,[1,25]]
c = df.iloc[:,[2,26]]
b.columns = ["team" , "Total Home Cards"]
c.columns = ["team" , "Total Away Cards"]
d = b.groupby("team",as_index=False).sum()
e = c.groupby("team",as_index=False).sum()
f = pd.merge(d,e,on="team")
f["Total Cards"] = f["Total Home Cards"] + f["Total Away Cards"]
f.sort_values(by='Total Cards', ascending=False).iloc[0,0]

'Watford'

In [7]:
x = {'H':1,'A':0,'D':0}
df["Home Team Win"] = df["Result"].map(x)
a = df.groupby("Referee",as_index=False).sum()
b = a.iloc[:,[0,22]].sort_values(by='Home Team Win',ascending=False)
b.iloc[0,0]

'A Taylor'

In [8]:
df["Win at Both"]=((df["Result"]==df["Half Time Result"]) & (df["Result"]!='D')).astype('bool')
a = df.groupby("Win at Both",as_index=False).count()
b = a.iloc[:,[0,1]].sort_values(by="Win at Both",ascending=False)
p_true = b.iloc[0,1]
p_false = b.iloc[1,1]
p_total = p_true + p_false
print(p_true/p_total*100)

48.94736842105264

In [9]:
#QUESTION 1
x = {'H':3,'A':0,'D':1}
df["Home Team Points"] =df["Result"].map(x)
l = {'H':1,'D':0,'A':0}
df["Home Team Wins"] = df["Result"].map(l)
l = {'H':0,'D':1,'A':0}
df["Draws"] = df["Result"].map(l)
l = {'H':0,'D':0,'A':1}
df["Away Team Wins"] = df["Result"].map(l)
y = {'H':0,'A':3,'D':1}
df["Away Team Points"] =df["Result"].map(y)
x = df.groupby("Home Team",as_index=False).sum()
p = x.loc[:,["Home Team","Home Team Points","Home Team Wins","Draws","Away Team Wins","Home Team Goals","Away Team Goals"]]
y =df.groupby("Away Team",as_index=False).sum()
q = y.loc[:,["Away Team","Away Team Points","Away Team Wins","Draws","Home Team Wins","Away Team Goals","Home Team Goals"]]
p.columns = ["Team","Team Points","Team Wins","Draws","Team Loss","Goals For","Goals Against"]
q.columns = ["Team","Team Points","Team Wins","Draws","Team Loss","Goals For","Goals Against"]
f = pd.merge(q,p,on="Team")
f["Points"] = f["Team Points_x"]+f["Team Points_y"]
f["Won"] = f["Team Wins_x"]+f["Team Wins_y"]
f["Drawn"] = f["Draws_x"]+f["Draws_y"]
f["Lost"] = f["Team Loss_x"]+f["Team Loss_y"]
f["Goals For"] = f["Goals For_x"]+f["Goals For_y"]
f["Goals Against"] = f["Goals Against_x"]+f["Goals Against_y"]
f["Goal Difference"]=f["Goals For"]-f["Goals Against"]
f["played"]=38
z = f.loc[:,["Team","played","Won","Drawn","Lost","Goals For","Goals Against","Goal Difference","Points"]]
z.sort_values(by="Points",ascending=False)

              Team  played  Won  ...  Goals Against  Goal Difference  Points
12        Man City      38   32  ...             23               72      98
11       Liverpool      38   30  ...             22               67      97
5          Chelsea      38   21  ...             39               24      72
16       Tottenham      38   23  ...             39               28      71
0          Arsenal      38   21  ...             51               22      70
13      Man United      38   19  ...             54               11      66
19          Wolves      38   16  ...             46                1      57
7          Everton      38   15  ...             46                8      54
18        West Ham      38   15  ...             55               -3      52
10       Leicester      38   15  ...             48                3      52
17         Watford      38   14  ...             59               -7      50
6   Crystal Palace      38   14  ...             53               -2      49
1      Bournemouth      38   13  ...             70              -14      45
14       Newcastle      38   12  ...             48               -6      45
3          Burnley      38   11  ...             68              -23      40
15     Southampton      38    9  ...             65              -20      39
2         Brighton      38    9  ...             60              -25      36
4          Cardiff      38   10  ...             69              -35      34
8           Fulham      38    7  ...             81              -47      26
9     Huddersfield      38    3  ...             76              -54      16

[20 rows x 9 columns]

In [0]:
# QUESTION 2
#EXPLORING WITH THIS DATASET I LEARNT MANY NEW FUNCTIONS LIKE GROUPBY().SUM() and UNDERSTOOD THE USE OF MANY FUNCTIONS PROPERLY LIKE LOC,ILOC,SORT_VALUES etc.