Answer 1

In [1]:
import pandas as pd
from google.colab import files
url='/content/ex1data1.txt'
colnames=['Population', 'Profit'] 
df=pd.read_csv(url,names=colnames)
df

    Population    Profit
0       6.1101  17.59200
1       5.5277   9.13020
2       8.5186  13.66200
3       7.0032  11.85400
4       5.8598   6.82330
5       8.3829  11.88600
6       7.4764   4.34830
7       8.5781  12.00000
8       6.4862   6.59870
9       5.0546   3.81660
10      5.7107   3.25220
11     14.1640  15.50500
12      5.7340   3.15510
13      8.4084   7.22580
14      5.6407   0.71618
15      5.3794   3.51290
16      6.3654   5.30480
17      5.1301   0.56077
18      6.4296   3.65180
19      7.0708   5.38930
20      6.1891   3.13860
21     20.2700  21.76700
22      5.4901   4.26300
23      6.3261   5.18750
24      5.5649   3.08250
25     18.9450  22.63800
26     12.8280  13.50100
27     10.9570   7.04670
28     13.1760  14.69200
29     22.2030  24.14700
..         ...       ...
67     10.2360   7.77540
68      5.4994   1.01730
69     20.3410  20.99200
70     10.1360   6.67990
71      7.3345   4.02590
72      6.0062   1.27840
73      7.2259   3.34110
74      5.0269  -2.68070
75      6.5479   0.29678
76      7.5386   3.88450
77      5.0365   5.70140
78     10.2740   6.75260
79      5.1077   2.05760
80      5.7292   0.47953
81      5.1884   0.20421
82      6.3557   0.67861
83      9.7687   7.54350
84      6.5159   5.34360
85      8.5172   4.24150
86      9.1802   6.79810
87      6.0020   0.92695
88      5.5204   0.15200
89      5.0594   2.82140
90      5.7077   1.84510
91      7.6366   4.29590
92      5.8707   7.20290
93      5.3054   1.98690
94      8.2934   0.14454
95     13.3940   9.05510
96      5.4369   0.61705

[97 rows x 2 columns]

In [0]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [0]:
x=df[['Population']]
y=df.Profit

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [5]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
model.score(x_test,y_test)

0.8169646472016581

In [7]:
y_test

65     4.88520
89     2.82140
48     8.00430
35     4.56230
92     7.20290
13     7.22580
22     4.26300
75     0.29678
31     5.99660
69    20.99200
62    17.92900
72     1.27840
47     1.84400
83     7.54350
88     0.15200
86     6.79810
30    -1.22000
77     5.70140
6      4.34830
67     7.77540
Name: Profit, dtype: float64

In [8]:
model.predict(x_test).max()

22.204014321491314

The city from the test set with maximum predicted profit will be:

In [9]:
prediction_1 = pd.DataFrame({'city population':y_test}).reset_index(drop=True)
prediction_2 = pd.DataFrame({'Predicted Profit':model.predict(x_test)}).reset_index(drop=True)
prediction = pd.concat([prediction_1, prediction_2], axis=1)
prediction.max()

city population     20.992000
Predicted Profit    22.204014
dtype: float64

Answer 2

In [10]:
url='/content/ex2data1.txt'
colnames=['Test1','Test2','Result'] 
df=pd.read_csv(url,names=colnames)
df

        Test1      Test2  Result
0   34.623660  78.024693       0
1   30.286711  43.894998       0
2   35.847409  72.902198       0
3   60.182599  86.308552       1
4   79.032736  75.344376       1
5   45.083277  56.316372       0
6   61.106665  96.511426       1
7   75.024746  46.554014       1
8   76.098787  87.420570       1
9   84.432820  43.533393       1
10  95.861555  38.225278       0
11  75.013658  30.603263       0
12  82.307053  76.481963       1
13  69.364589  97.718692       1
14  39.538339  76.036811       0
15  53.971052  89.207350       1
16  69.070144  52.740470       1
17  67.946855  46.678574       0
18  70.661510  92.927138       1
19  76.978784  47.575964       1
20  67.372028  42.838438       0
21  89.676776  65.799366       1
22  50.534788  48.855812       0
23  34.212061  44.209529       0
24  77.924091  68.972360       1
25  62.271014  69.954458       1
26  80.190181  44.821629       1
27  93.114389  38.800670       0
28  61.830206  50.256108       0
29  38.785804  64.995681       0
..        ...        ...     ...
70  32.722833  43.307173       0
71  64.039320  78.031688       1
72  72.346494  96.227593       1
73  60.457886  73.094998       1
74  58.840956  75.858448       1
75  99.827858  72.369252       1
76  47.264269  88.475865       1
77  50.458160  75.809860       1
78  60.455556  42.508409       0
79  82.226662  42.719879       0
80  88.913896  69.803789       1
81  94.834507  45.694307       1
82  67.319257  66.589353       1
83  57.238706  59.514282       1
84  80.366756  90.960148       1
85  68.468522  85.594307       1
86  42.075455  78.844786       0
87  75.477702  90.424539       1
88  78.635424  96.647427       1
89  52.348004  60.769505       0
90  94.094331  77.159105       1
91  90.448551  87.508792       1
92  55.482161  35.570703       0
93  74.492692  84.845137       1
94  89.845807  45.358284       1
95  83.489163  48.380286       1
96  42.261701  87.103851       1
97  99.315009  68.775409       1
98  55.340018  64.931938       1
99  74.775893  89.529813       1

[100 rows x 3 columns]

In [0]:
Inputs=df[['Test1','Test2']]
Target =df.Result
Inputs_train, Inputs_test, Target_train, Target_test=train_test_split(Inputs,Target,test_size=0.2)

In [12]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(Inputs_train,Target_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [13]:
model.score(Inputs_test,Target_test)

0.9

In [14]:
model.predict(Inputs_test)

array([0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0])

In [16]:
Final_1 = pd.DataFrame({'Actual_Result':Target_test}).reset_index(drop=True)
Final_2 = pd.DataFrame({'Model_Predicted_Result':model.predict(Inputs_test)}).reset_index(drop=True)
Final = pd.concat([Final_1,Final_2], axis=1)
Final

    Actual_Result  Model_Predicted_Result
0               1                       0
1               0                       0
2               0                       0
3               0                       0
4               1                       1
5               1                       1
6               0                       0
7               1                       1
8               1                       1
9               1                       1
10              1                       1
11              1                       1
12              1                       1
13              1                       1
14              0                       0
15              1                       1
16              1                       1
17              0                       1
18              1                       1
19              0                       0