In [64]:

import numpy as np
import pandas as pd
url='https://raw.githubusercontent.com/ACM-NITK/Machine-Learning-SMP-2019/master/Assignment%201/PL18-19.csv'
df = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe
df.columns

Index([u'Date', u'HomeTeam', u'AwayTeam', u'FTHG', u'FTAG', u'FTR', u'HTHG',
       u'HTAG', u'HTR', u'Referee', u'HS', u'AS', u'HST', u'AST', u'HF', u'AF',
       u'HC', u'AC', u'HY', u'AY', u'HR', u'AR'],
      dtype='object')

In [0]:
df=df.rename(columns={'FTHG':'HomeTeamGoals','FTAG':'AwayTeamGoals','FTR':'FullTimeResult','HTHG':'HalfTimeHTGoals','HTAG':'HalfTimeATGoals','HTR':'HalfTimeResult','HS':'HTShots','AS':'ATShots','HST':'HTShotsOnTarget','AST':'ATShotsOnTarget','HF':'HomeTeamGoalsFouls','AF':'AwayTeamFouls','HC':'HomeTeamCorners','AC':'AwayTeamCorners','HY':'HTYellowCards','AY':'ATYellowCards','HR':'HTRedCards','AR':'ATRedCards'})
#Renaming Columns

In [66]:
print(np.union1d(df['HomeTeam'], df['AwayTeam']))

['Arsenal' 'Bournemouth' 'Brighton' 'Burnley' 'Cardiff' 'Chelsea'
 'Crystal Palace' 'Everton' 'Fulham' 'Huddersfield' 'Leicester'
 'Liverpool' 'Man City' 'Man United' 'Newcastle' 'Southampton' 'Tottenham'
 'Watford' 'West Ham' 'Wolves']

In [67]:
df['TotalShots']=df['HTShots']+df['ATShots']
df['TotalShots'].max()

42

In [68]:
df['TotalShotsOnTarget']=df['HTShotsOnTarget']+df['ATShotsOnTarget']
df['Ratio']=df['TotalShotsOnTarget']/df['TotalShots']
df.head()

         Date      HomeTeam  ... TotalShotsOnTarget     Ratio
0  2018-08-10    Man United  ...                 10  0.476190
1  2018-08-11   Bournemouth  ...                  5  0.227273
2  2018-08-11        Fulham  ...                 15  0.600000
3  2018-08-11  Huddersfield  ...                  5  0.263158
4  2018-08-11     Newcastle  ...                  7  0.233333

[5 rows x 25 columns]

In [69]:
df['Totalcards']=df['HTYellowCards']+df['ATYellowCards']+df['HTRedCards']+df['ATRedCards']
df.iloc[:,[9,25]].groupby(['Referee']).sum()

             Totalcards
Referee
A Madley              2
A Marriner           76
A Taylor            103
C Kavanagh           76
C Pawson             99
D Coote              35
G Scott              39
J Linington           4
J Moss               98
K Friend             92
L Mason              64
L Probert            50
M Atkinson           92
M Dean              137
M Oliver             90
P Tierney            83
R East               44
S Attwell            64
S Hooper             20

In [70]:
df['HTCards']=df['HTYellowCards']+df['HTRedCards']
df['ATCards']=df['ATYellowCards']+df['ATRedCards']
a=df.iloc[:,[1,26]]
b=df.iloc[:,[2,27]]
a.columns=['Team','Cards']
b.columns=['Team','Cards']
x=pd.concat([a,b])
x.groupby(['Team']).sum()

                Cards
Team
Arsenal            74
Bournemouth        61
Brighton           64
Burnley            76
Cardiff            66
Chelsea            50
Crystal Palace     60
Everton            59
Fulham             70
Huddersfield       59
Leicester          62
Liverpool          39
Man City           45
Man United         77
Newcastle          59
Southampton        74
Tottenham          59
Watford            81
West Ham           60
Wolves             73

In [71]:
d={'H':1,'A':0,'D':0}
df['HomeWin']=df['FullTimeResult'].map(d)
a=df.iloc[:,[9,28]].groupby(['Referee'],as_index=False).sum()
a.loc[df['HomeWin'].idxmin()]

Referee    A Taylor
HomeWin          20
Name: 2, dtype: object

In [72]:
df['SameResult']=((df['FullTimeResult']!='D') & (df['HalfTimeResult']==df['FullTimeResult']) )
a=float((df['SameResult']==True).sum())
b=float((df['SameResult']==False).sum())
print((a*100)/(a+b))

48.9473684211

In [82]:
l={'H':3,'D':1,'A':0}
m={'H':0,'D':1,'A':3}
df['HomeScore']=df['FullTimeResult'].map(l)
df['AwayScore']=df['FullTimeResult'].map(m)
l={'H':1,'D':0,'A':0}
df['HomeWins']=df['FullTimeResult'].map(l)
l={'H':0,'D':0,'A':1}
df['AwayWins']=df['FullTimeResult'].map(l)
l={'H':0,'D':1,'A':0}
df['Draws']=df['FullTimeResult'].map(l)
a=df.groupby('HomeTeam',as_index=False).sum()
b=df.groupby('AwayTeam',as_index=False).sum()
x=a.loc[:,['HomeTeam','HomeScore','HomeWins','Draws','AwayWins','HomeTeamGoals','AwayTeamGoals']]
y=b.loc[:,['AwayTeam','AwayScore','AwayWins','Draws','HomeWins','AwayTeamGoals','HomeTeamGoals']]
x.columns=['Team','Score','Wins','Draws','Losses','GoalsFor','GoalsAgainst']
y.columns=['Team','Score','Wins','Draws','Losses','GoalsFor','GoalsAgainst']
final=pd.merge(x,y,on='Team')
final['Points']=final['Score_x']+final['Score_y']
final['Draws']=final['Draws_x']+final['Draws_y']
final['Wins']=final['Wins_x']+final['Wins_y']
final['Losses']=final['Losses_x']+final['Losses_y']
final['GoalsFor']=final['GoalsFor_x']+final['GoalsFor_y']
final['GoalsAgainst']=final['GoalsAgainst_x']+final['GoalsAgainst_y']
final['Played']=final['Losses']+final['Wins']+final['Draws']
final['GoalsDifference']=final['GoalsFor']-final['GoalsAgainst']
table=final.loc[:,['Team','Played','Wins','Losses','Draws','GoalsFor','GoalsAgainst','GoalsDifference','Points']]
table.sort_values(by='Points',ascending=False)

              Team  Played  Wins  ...  GoalsAgainst  GoalsDifference  Points
12        Man City      38    32  ...            23               72      98
11       Liverpool      38    30  ...            22               67      97
5          Chelsea      38    21  ...            39               24      72
16       Tottenham      38    23  ...            39               28      71
0          Arsenal      38    21  ...            51               22      70
13      Man United      38    19  ...            54               11      66
19          Wolves      38    16  ...            46                1      57
7          Everton      38    15  ...            46                8      54
18        West Ham      38    15  ...            55               -3      52
10       Leicester      38    15  ...            48                3      52
17         Watford      38    14  ...            59               -7      50
6   Crystal Palace      38    14  ...            53               -2      49
1      Bournemouth      38    13  ...            70              -14      45
14       Newcastle      38    12  ...            48               -6      45
3          Burnley      38    11  ...            68              -23      40
15     Southampton      38     9  ...            65              -20      39
2         Brighton      38     9  ...            60              -25      36
4          Cardiff      38    10  ...            69              -35      34
8           Fulham      38     7  ...            81              -47      26
9     Huddersfield      38     3  ...            76              -54      16

[20 rows x 9 columns]