In [1]:
import pandas as pd
from google.colab import files
uploaded=files.upload()

Saving ex1data1.txt to ex1data1.txt

In [28]:
import io
df=pd.read_csv(io.BytesIO(uploaded['ex1data1.txt']),names=['TruckPopulation', 'TruckProfit'])
df

    TruckPopulation  TruckProfit
0            6.1101     17.59200
1            5.5277      9.13020
2            8.5186     13.66200
3            7.0032     11.85400
4            5.8598      6.82330
5            8.3829     11.88600
6            7.4764      4.34830
7            8.5781     12.00000
8            6.4862      6.59870
9            5.0546      3.81660
10           5.7107      3.25220
11          14.1640     15.50500
12           5.7340      3.15510
13           8.4084      7.22580
14           5.6407      0.71618
15           5.3794      3.51290
16           6.3654      5.30480
17           5.1301      0.56077
18           6.4296      3.65180
19           7.0708      5.38930
20           6.1891      3.13860
21          20.2700     21.76700
22           5.4901      4.26300
23           6.3261      5.18750
24           5.5649      3.08250
25          18.9450     22.63800
26          12.8280     13.50100
27          10.9570      7.04670
28          13.1760     14.69200
29          22.2030     24.14700
..              ...          ...
67          10.2360      7.77540
68           5.4994      1.01730
69          20.3410     20.99200
70          10.1360      6.67990
71           7.3345      4.02590
72           6.0062      1.27840
73           7.2259      3.34110
74           5.0269     -2.68070
75           6.5479      0.29678
76           7.5386      3.88450
77           5.0365      5.70140
78          10.2740      6.75260
79           5.1077      2.05760
80           5.7292      0.47953
81           5.1884      0.20421
82           6.3557      0.67861
83           9.7687      7.54350
84           6.5159      5.34360
85           8.5172      4.24150
86           9.1802      6.79810
87           6.0020      0.92695
88           5.5204      0.15200
89           5.0594      2.82140
90           5.7077      1.84510
91           7.6366      4.29590
92           5.8707      7.20290
93           5.3054      1.98690
94           8.2934      0.14454
95          13.3940      9.05510
96           5.4369      0.61705

[97 rows x 2 columns]

In [0]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [0]:
x=df[['TruckPopulation']]
y=df.TruckProfit

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [21]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
model.score(x_test,y_test)

0.8907546083953263

In [23]:
model.predict(x_test).max()

21.67749158101347

from the test body which will give max proffit

In [24]:
y_test

65     4.88520
24     3.08250
48     8.00430
14     0.71618
66     5.74420
93     1.98690
89     2.82140
33     1.84950
15     3.51290
70     6.67990
29    24.14700
57     4.60420
9      3.81660
91     4.29590
76     3.88450
52     4.28850
8      6.59870
1      9.13020
25    22.63800
21    21.76700
Name: TruckProfit, dtype: float64

In [0]:
table_1= pd.DataFrame({'city profit original':y_test})
a=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
b=table_1.index
table_1['City Population']=b
table_1.index=a
table_1=table_1.drop(columns='city profit original').head()

In [49]:
table_2 = pd.DataFrame({'Predicted Profit':model.predict(x_test)}).reset_index(drop=True)
table_2

    Predicted Profit
0           4.610266
1           2.727208
2           9.714898
3           2.813542
4           5.836822
5           2.431646
6           2.151459
7           3.099537
8           2.515930
9           7.933550
10         21.677492
11          2.812403
12          2.145992
13          5.086811
14          4.975192
15          4.844552
16          3.776541
17          2.684839
18         17.966730
19         19.475864

In [52]:
table = pd.concat([table_1, table_2], axis=1)
table.max()

City Population     66.000000
Predicted Profit    21.677492
dtype: float64